NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://mggrzosndkrvrtutyrdg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1nZ3J6b3NuZGtydnJ0dXR5cmRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NDIxOTQsImV4cCI6MjA5MTMxODE5NH0.v8M2FWDtAidWaHOC2Xlb_DLvja7ObNDHaYAqeeN24MA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1nZ3J6b3NuZGtydnJ0dXR5cmRnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc0MjE5NCwiZXhwIjoyMDkxMzE4MTk0fQ.LWjwuVlMKHsBUjCgTcOgB33ir3VMYrBxGeehy2RqQag

NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GSC_VERIFICATION=
NEXT_PUBLIC_META_PIXEL_ID=
